body {   
    padding-top: 50px;
}


.O {
    background-image: url('../images/xs_and_os.png');
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: 25px 25px;
}


.title {
    margin: 0 0 75px 100px;
}


.X {

    background-image: url('../images/xs_and_os.png');
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: -157px 25px;
}

.board .row .square:hover {
    cursor: pointer;
    
}

.occupied:hover {
    cursor: default !important;
}

.board .row .square{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.board .row:first-child .square {
    border-top: 0px;
}

.board .row:last-child .square {
    border-bottom: 0px;
}

.board .row .square:first-child {
    border-left: 0px;
}

.board .row .square:last-child {
    border-right: 0px;
}

.score div{
    font-weight: bold;
    margin-bottom: 25px;
}